<header id="header" class="fixed-top" style="background-color:#37517e;">
   <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a routerLink="/home">Faang Layoffs</a></h1>
      <nav id="navbar" class="navbar">
         <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#services">Companies</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#team">Reviews</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            <li><a class="getstarted scrollto" routerLink="/login">Sign In </a></li>
            <li><a class="getstarted scrollto" routerLink="/signup">Sign Up</a></li>
         </ul>
         <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
   </div>
</header>
<section id="hero" class="d-flex align-items-center">
   <div class="container">
      <div class="row">
         <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-up" data-aos-delay="200">
            <h1>Wanna know if you will get fired?</h1>
            <h2>Faang Layoffs Platfrom uses Machine Learning to let you know how likely is it.</h2>
            <div class="d-flex justify-content-center justify-content-lg-start">
               <a href="" class="btn-get-started scrollto">Get Started</a>

            </div>
         </div>
         <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200"> <img
               src="assets/img/fired-svgrepo-com.svg" class="img-fluid animated" alt=""></div>
      </div>
   </div>
</section>
<main id="main">


   

   <section id="about" class="about">
      <div class="container" data-aos="fade-up">
         <div class="section-title">
            <h2>About Us</h2>
         </div>
         <div class="row content">
            <div class="col-lg-6">
               <p></p>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
               <p><b>Faang Layoffs is easy to use. A simple,
                  clean.
                  All you need to do is log in fill a form and proact on your career plan!!.</b></p>
               <a href="#" class="btn-learn-more">Learn More</a>
            </div>
         </div>
      </div>
   </section>

   <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
         <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
               <h3>Faang Layoffs </h3>
               <p>Faang Layoffs is a machine learning based platform that used data from the big five companies to predict their future layoffs</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center"> <a class="cta-btn align-middle"
                  href="#services">Discover Our Companies</a></div>
         </div>
      </div>
   </section>
   
   <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">
         <div class="section-title">
            <h2>guest Reviews</h2>
            <p>Here is what our guests say about Faang Layoffs:</p>
         </div>
         <div class="row">
            <div class="col-lg-6">
               <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                  <div class="pic"><img src="assets/img/guests/Youssef.jpg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                     <h4>BENLGUARNI Mouad</h4>
                     <!--<span>Chief Executive Officer</span>-->
                     <p>"The prediction from FAANG Layoffs made me rethink my future , and make proactive plans to anticipate any career change"</p>
                     <div class="social"> <a href=""><i class="ri-twitter-fill"></i></a> <a href=""><i
                              class="ri-facebook-fill"></i></a> <a href=""><i class="ri-instagram-fill"></i></a> <a
                           href=""> <i class="ri-linkedin-box-fill"></i> </a></div>
                  </div>
               </div>
            </div>
      </div>

      </div>
   </section>

   <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
         <div class="section-title">
            <h2></h2>
            <p></p>
         </div>
         <div class="row">
            <div class="col-lg-5 d-flex align-items-stretch">
               <div class="info" id="image-contact">
                  <img src="assets/img/contact.svg" class="img-fluid animated" alt="">
                  <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">

                  </div>
               </div>
            </div>
            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
               <form action="#" method="post" role="form" class="php-email-form">
                  <div class="row">
                     <div class="form-group col-md-6"> <label for="name">Your Name</label> <input type="text"
                           name="name" class="form-control" id="name" required></div>
                     <div class="form-group col-md-6"> <label for="name">Your Email</label> <input type="email"
                           class="form-control" name="email" id="email" required></div>
                  </div>
                  <div class="form-group"> <label for="name">Subject</label> <input type="text" class="form-control"
                        name="subject" id="subject" required></div>
                  <div class="form-group"> <label for="name">Message</label><textarea class="form-control"
                        name="message" rows="10" required></textarea></div>
                  <div class="my-3">
                     <div class="loading">Loading</div>
                     <div class="error-message"></div>
                     <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>
                  <div class="text-center"><button type="submit">Send Message</button></div>
               </form>
            </div>
         </div>
      </div>
   </section>
</main>
<footer id="footer">

   <div class="footer-top">
      <div class="container">
         <div class="row">
            <!--<div class="col-lg-3 col-md-6 footer-contact">
              <h3>Therichpost</h3>
              <p> Ludhiana <br> Punjab<br> India <br><br> <strong>Phone:</strong> +91 **** **** **<br> <strong>Email:</strong> <a href="#" class="__cf_email__">[email&#160;protected]</a><br></p>
           </div>-->
            <div class="col-lg-3 col-md-6 footer-links">
               <h4>Useful Links</h4>
               <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#services">Companies</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#about">About</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#team">Reviews</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact US</a></li>
               </ul>
            </div>
            <div class="col-lg-3 col-md-6 footer-links">
               <h4>Faang Companies</h4>
               <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Meta</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Amazon</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Apple</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Netflix</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Google</a></li>
               </ul>
            </div>
            <div class="col-lg-3 col-md-6 footer-links">
               <h4>Our Social Networks</h4>
               <p></p>
               <div class="social-links mt-3"> <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> <a
                     href="#" class="facebook"><i class="bx bxl-facebook"></i></a> <a href="#" class="instagram"><i
                        class="bx bxl-instagram"></i></a> <a href="#" class="google-plus"><i
                        class="bx bxl-skype"></i></a> <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="container footer-bottom clearfix">
      <div class="copyright">Copyright &copy; faang-layoffs <strong><span>2022</span></strong>. All Rights Reserved</div>
      <!--<div class="credits"> with love <a href="https://therichpost.com/">Therichpost</a></div>-->
   </div>
</footer>
<!--<div id="preloader"></div>-->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

<!--Modal popup-->
<modal-popup id="modaldetails">
   <form action="" class="mt-1" style="padding-left : 20px;padding-right : 20px">
      <h5 class="mb-3">Company Details</h5>
      <div class="form-floating mb-3">
         <input type="text" class="form-control" id="floatingInput" placeholder="Name" name="Name"
            [(ngModel)]="companyName" readonly>
         <label for="floatingInput">Name</label>
      </div>
      <div class="form-floating mb-3">
         <input type="text" class="form-control" id="floatingInput" placeholder="company Description"
            name="companyDescription" [(ngModel)]="companyDescription" readonly>
         <label for="floatingInput">Description</label>
      </div>

      <div class="form-floating mb-3">
         <input type="date" class="form-control" id="floatingPassword" placeholder="Password" name="openDate"
            [(ngModel)]="openDate" readonly>
         <label for="floatingPassword">Open Date</label>
      </div>
      <div class="form-floating mb-3">
         <input type="date" class="form-control" id="floatingPassword" placeholder="Password" name="closeDate"
            [(ngModel)]="closeDate" readonly>
         <label for="floatingPassword">Close Date</label>
      </div>


      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
         <button class="btn btn-danger" (click)="closeModal('modaldetails');">Close</button>
         <button class="btn btn-primary" (click)="EnrollCompanyLP('modaldetails');">Enroll</button>
      </div>

   </form>

</modal-popup>